version: '3.8'

networks:
  backend: ~

services:
  database:
    image: mariadb:10
    environment:
      - MYSQL_DATABASE=logbook
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - ./infrastructure/dev/docker/db/data:/var/lib/mysql
    ports:
      - "${APP_MYSQL_PORT:-3306}:3306"
    networks:
      backend: ~

  mail:
    image: mailhog/mailhog:latest
    ports:
      - "${APP_MAILHOG_PORT:-8025}:8025"
    networks:
      backend: ~

  node:
    image: node:16-slim
    tty: true
    working_dir: /home/node/app
    volumes:
      - "./:/home/node/app"
    networks:
      backend: ~

volumes:
  db-data: {}

