version: '3.8'

networks:
  backend: ~

services:
  database:
    image: postgres:13
    environment:
      - POSTGRES_DB=monofony
      - POSTGRES_USER=${POSTGRES_USER:-root}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-root}
    volumes:
      - ./infrastructure/dev/docker/db/data:/var/lib/postgresql/data
    ports:
      - "${APP_DATABASE_PORT:-5432}:5432"
    networks:
      backend: ~

  mail:
    image: mailhog/mailhog:latest
    ports:
      - "8025"
    networks:
      backend: ~

  node:
    image: node:16-slim
    tty: true
    working_dir: /home/node/app
    volumes:
      - "./:/home/node/app"
    networks:
      backend: ~

volumes:
  db-data: {}
