version: '3.8'

networks:
  backend: ~

services:
  php:
    build:
      context: .
      dockerfile: infrastructure/docker-full/Dockerfile
    volumes:
      - "./:/var/www/html:rw,cached"
      - "~/.composer/auth.json:/root/.composer/auth.json:ro"
    networks:
      backend: ~

  http:
    image: nginx:1.19
    depends_on:
      - php
    volumes:
      - "./infrastructure/docker-full/nginx/conf.d:/etc/nginx/conf.d:ro"
      - "./public:/var/www/html/public:ro"
    ports:
      - "80"
    networks:
      backend: ~

  database:
    image: postgres:15
    environment:
      - POSTGRES_DB=monofony
      - POSTGRES_USER=${POSTGRES_USER:-root}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-root}
    volumes:
      - ./infrastructure/dev/docker/db/data:/var/lib/postgresql/data
    ports:
      - "${APP_DATABASE_PORT:-5432}:5432"
    networks:
      backend: ~

  mail:
    image: mailhog/mailhog:latest
    ports:
      - "8025"
    networks:
      backend: ~

  node:
    image: node:16-slim
    tty: true
    working_dir: /home/node/app
    volumes:
      - "./:/home/node/app"
    networks:
      backend: ~

volumes:
  db-data: {}
