imports:
    - config/behat/suites.yaml

default:
    formatters:
        pretty:
            verbose:  true
            paths:    false
            snippets: false

    extensions:
        Robertfausk\Behat\PantherExtension: null

        FriendsOfBehat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/tests/Resources/"
            base_url: "http://http"
            default_session: symfony
            javascript_session: panther
            sessions:
                symfony:
                    symfony: ~
                panther:
                    panther:
                       options:
                           browser: 'chrome'
                           webServerDir: '%paths.base%/public' # your custom public dir
                           external_base_uri: 'http://http'
                       kernel_options:
                            APP_ENV: test
                            APP_DEBUG: false
                       manager_options:
                            connection_timeout_in_ms: 5000
                            request_timeout_in_ms: 120000
                            capabilities:
                                browserName: chrome
                                browser: chrome
                                extra_capabilities:
                                    chromeOptions:
                                        args:
                                            - "--window-size=2880,1800"
                                            - "--headless"
                                            - "start-fullscreen"
                                            - "start-maximized"
                                            - "no-sandbox"
                                acceptSslCerts: true
                                acceptInsecureCerts: true
                                unexpectedAlertBehaviour: accept
                chrome:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ""
                            chrome:
                                switches:
                                - "start-fullscreen"
                                - "start-maximized"
                                - "no-sandbox"
                            extra_capabilities:
                                acceptSslCerts: true
                                acceptInsecureCerts: true
                                unexpectedAlertBehaviour: accept

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php

        FriendsOfBehat\VariadicExtension: ~

    gherkin:
        filters:
            tags: "~@todo"
